[Bb]uild/
[Bb]uild-*/

.[Cc]ache/

CMakeCache.txt
CMakeFiles/
CMakePresets.json
Makefile
cmake_install.cmake
*.cmake

.qtc_clangd/
.qt/
.qmake.stash

*.user
*.user.*

moc_*.cpp
ui_*.h
qrc_*.cpp
*.qm

*.o
*.a
*.so
*.out
*.app

*.sublime-workspace
compile_commands.json

.DS_Store
.directory
*~
*.swp

