*.o
*.a
*.la
*.so
*.dll
*.dylib

*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
CMakeLists.txt.user*

moc_*.cpp
ui_*.h
qrc_*.cpp
Makefile*

build-*/
build*/

.cmake/
.qtc_clangd/
.qt/

*.sublime-workspace

.DS_Store
.directory
*~
*.swp
